
.about img {
  max-width: 600px;
  max-height: 596px;
}

.block-about {
  width: 100%;
  display: flex;
  gap: 50px;
}

.text-about {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.title-about {
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.text-about__first {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.text-about__last {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

}

.quote {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 20px;
  margin: 0;
}

.quote-text {
  max-width: 469px;
  white-space: pre-line;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
}

.quote-text:before {
  content: "“";
  font-size: 60px;
  color: var(--go-colorone, #6C0287) ;
}

.quote-text:after {
  content: "”";
  font-size: 60px;
  color: var(--go-colorone, #6C0287) ;
}

.quote-author {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: relative;
  max-width: 450px;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.quote-author:before {
  content: url("../image/person.svg");
  position: absolute;
  width: 80px;
  height: 80px;
  right: 280px;
  bottom: 2px;
}




@media  (max-width: 1024px) {
  .title-about {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }

  .about img {
    max-width: 420px;
  }


  .block-about {
    width: 100%;

    display: flex;
    gap: 40px;
  }

  .text-about {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
  }


  .quote {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 19px;
    margin: 0;
  }


  .text-about__first {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .text-about__last {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .quote-author {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }

  .quote-author:before {
    content: url("../image/person.svg");
    position: absolute;
    width: 70px;
    height: 70px;
    right: 270px;
    bottom: 10px;
  }

  .quote-text {
    position: relative;
    left: 20px;
    font-weight: 400;
    white-space: normal;
    font-size: 30px;
    line-height: 36px;
  }

  .quote-text:before {
    content: "“";
    position: absolute;
    left: -15px;
    color: var(--go-colorone, #6C0287);
  }

  .quote-text:after {
    content: "”";
    position: absolute;
    color: var(--go-colorone, #6C0287);
  }
}



@media  (max-width: 768px) {



  .title-about {
    font-size: 24px;
    line-height: 36px;
  }

  .text-about__first {
    font-size: 16px;
    line-height: 22px;

  }

  .text-about__last {
    font-size: 16px;
    line-height: 22px;
  }

  .quote {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 19px;
    margin: 0;
  }
  }

  .block-about {
    display: flex;
    position: relative;
    justify-content: space-around;
  }

  .quote-text {
    max-width: 1000px;
    position: relative;
    font-size: 32px;
    line-height: 36px;
  }
  .quote-author {
    display: flex;
    position: relative;
    left: 60%;
    max-width: 250px;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
  .quote-author:before {
    right: 270px;
  }


@media  (max-width: 390px) {
  .about {
    padding: 15px 0;
  }

  .title-about {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .about img {
    width: 330px;
    height: 280px;
    text-align: center;
    margin-right: 0;
    order: 2;
  }
  .image-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 41px;
  }

  .text-about__first {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .text-about__last {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
  }
  .quote-text {
    position: relative;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 22px;
  }

  .quote-text:before {
    left: -15px;
    font-size: 40px;
  }

  .quote-text:after {
    font-size: 40px;

  }
  .quote-author {
    display: flex;
    position: relative;
    left: 30%;
    max-width: 160px;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .quote-author:before {
    content: "";
    background-image: url("../image/person.svg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: 56px 56px;
    left: -80px;
    top: -5px;
  }
}


@media  (max-width: 320px) {
  .about {
    padding: 15px 0;
  }

  .title-about {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .about img {
    width: 280px;
    height: 280px;
    text-align: center;
    margin-right: 0;
    order: 2;
  }
  .image-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 41px;
  }

  .text-about__first {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .text-about__last {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
  }
  .quote-text {
    position: relative;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 22px;
  }

  .quote-text:before {
    left: -15px;
    font-size: 40px;
  }

  .quote-text:after {
    font-size: 40px;

  }
  .quote-author {
    display: flex;
    position: relative;
    left: 30%;
    max-width: 160px;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .quote-author:before {
    content: "";
    background-image: url("../image/person.svg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: 56px 56px;
    left: -80px;
    top: -5px;
  }
}







