
.about img {
  float: left;
  margin-right: 80px;
}

.title-about {
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.text-about__first {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 50px;
}

.text-about__last {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 48px;
}

.quote {
  position: relative;
  margin: 0;
}

.quote-text {
  white-space: pre-line;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.quote-text:before {
  content: "“";
  font-size: 60px;
  color: var(--go-colorone, #6C0287) ;
}

.quote-text:after {
  content: "”";
  font-size: 60px;
  color: var(--go-colorone, #6C0287) ;
}

.quote-author {
  display: inline-block;
  padding-left: 191px;
  max-width: 450px;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.quote-author cite {
  display: inline;
}

.quote-author:before {
  content: url("../image/person.svg");
  position: absolute;
  width: 80px;
  height: 80px;
  right: 330px;
  bottom: 2px;
}




@media  (max-width: 1024px) {
  .title-about {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }

  .about img {
    width: 420px;
    height: 417px;
    float: left;
    margin-right: 40px;
  }

  .text-about__first {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 37px;
  }

  .text-about__last {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 37px;
  }
  .quote-text {
    position: relative;
    font-weight: 400;
    white-space: normal;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 13px;
  }
  .quote-text:before {
    content: "“";
    position: absolute;
    left: -15px;
    font-size: 60px;
    color: var(--go-colorone, #6C0287);
  }

  .quote-text:after {
    content: "”";
    position: absolute;
    font-size: 60px;
    color: var(--go-colorone, #6C0287);
  }
}



@media  (max-width: 768px) {
  .title-about {
    font-size: 24px;
    line-height: 36px;
  }
  .about img {
    width: 328px;
    height: 380px;
    float: left;
    margin-right: 40px;
  }
  .text-about__first {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
  }

  .text-about__last {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 37px;
  }
  .image-about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 41px;
  }

  .block-about {
    display: flex;
    position: relative;
    left: 10px;
    justify-content: space-around;
  }
  .quote {

  }
  .quote-text {
    position: relative;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 22px;
  }
  .quote-author {
    display: flex;
    position: relative;
    left: 60%;
    max-width: 250px;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
  .quote-author:before {
    right: 270px;
  }
}

@media  (max-width: 390px) {
  .about {
    padding: 15px 0;
  }

  .title-about {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .about img {
    width: 280px;
    height: 280px;
    text-align: center;
    margin-right: 0;
    order: 2;
  }
  .image-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 41px;
  }

  .text-about__first {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .text-about__last {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
  }
  .quote-text {
    position: relative;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 22px;
  }

  .quote-text:before {
    left: -15px;
    font-size: 40px;
  }

  .quote-text:after {
    font-size: 40px;

  }
  .quote-author {
    display: flex;
    position: relative;
    left: 30%;
    max-width: 160px;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .quote-author:before {
    content: "";
    background-image: url("../image/person.svg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: 56px 56px;
    left: -80px;
    top: -5px;
  }
}


@media  (max-width: 320px) {
  .about {
    padding: 15px 0;
  }

  .title-about {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .about img {
    width: 280px;
    height: 280px;
    text-align: center;
    margin-right: 0;
    order: 2;
  }
  .image-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 41px;
  }

  .text-about__first {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .text-about__last {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
  }
  .quote-text {
    position: relative;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 22px;
  }

  .quote-text:before {
    left: -15px;
    font-size: 40px;
  }

  .quote-text:after {
    font-size: 40px;

  }
  .quote-author {
    display: flex;
    position: relative;
    left: 30%;
    max-width: 160px;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .quote-author:before {
    content: "";
    background-image: url("../image/person.svg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: 56px 56px;
    left: -80px;
    top: -5px;
  }
}







