
.img-about {
  width: 100%;
  max-width: 600px;
  margin-right: 80px;
}

.block-about {
  display: flex;
  margin-bottom: 41px;
}

.text-about {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}

.title-about {
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.text-about__first {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.text-about__last {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

}

.quote-go {
  display: none;
}

.quote {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 41px;
  margin: 0;
}

.quote-text {
  max-width: 469px;
  white-space: pre-line;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
}

.quote-text-go {
  position: relative;
  max-width: 666px;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.quote-text-go:before {
  content: "“";
  font-size: 60px;
  color: var(--go-colorone, #6C0287) ;
}

.quote-text-go:after {
  content: "”";
  font-size: 60px;
  color: var(--go-colorone, #6C0287) ;
}



.quote-text:before {
  content: "“";
  font-size: 60px;
  color: var(--go-colorone, #6C0287) ;
}

.quote-text:after {
  content: "”";
  font-size: 60px;
  color: var(--go-colorone, #6C0287) ;
}

.person-go {
  position: relative;
  left: 40%;
  top: 7px;
  display: inline-block;
  margin-right: 25px;
}

.person {
  position: relative;
  left: 50px;
}

.quote-author {
  position: relative;
  left: 40px;
  align-content: end;
  max-width: 450px;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}


.quote-author-go {
  position: relative;
  left: 40%;
  display: inline-block;
  max-width: 225px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}



@media  (max-width: 1024px) {
  .title-about {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }

  .img-about {
    max-width: 420px;
    margin-right: 40px;
  }


  .block-about {
    width: 100%;
    display: flex;
  }

  .text-about {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

  }


  .quote {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 20px 20px;
    margin: 0;
  }

  .person img {
    margin: 0;
  }

  .text-about__first {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .text-about__last {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .quote-author {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }


  .quote-text {
    position: relative;
    left: 20px;
    font-weight: 400;
    white-space: normal;
    font-size: 30px;
    line-height: 36px;
  }

  .quote-text:before {
    content: "“";
    position: absolute;
    left: -15px;
    color: var(--go-colorone, #6C0287);
  }

  .quote-text:after {
    content: "”";
    position: absolute;
    color: var(--go-colorone, #6C0287);
  }


}



@media  (max-width: 768px) {
  .quote-go{
    display: flow-root;
  }

  .img-about {
    display: flex;
    width: 382px;
    height: auto;
  }

  .block-about {
    margin-right: 28px;
  }

  .text-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .title-about {
    font-size: 24px;
    line-height: 36px;
  }

  .text-about__first {
    font-size: 16px;
    line-height: 22px;
  }

  .text-about__last {
    font-size: 16px;
    line-height: 22px;
  }

  .quote {
    display: none;
    flex-wrap: wrap;
  }
  }

  .block-about {
    display: flex;
    position: relative;
    justify-content: space-around;
  }

  .quote-text {
    position: relative;
    font-size: 32px;
    line-height: 36px;
  }

  .quote-author {
    display: flex;
    max-width: 250px;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }

@media  (max-width: 600px) {
  .block-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .img-about {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .person-go img {
    margin-right: 0;
  }
}


@media  (max-width: 390px) {
  .about {
    padding: 15px 0;
  }

  .quote-text-go {
    max-width: 265px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
  }
  .quote-text-go:before {
    content: "“";
    position: absolute;
    font-weight: 900;
    font-size: 22px;
    line-height: 50px;
    top: -15px;
    left: -15px;
    color: var(--go-colorone, #6C0287);
  }
  .quote-text-go:after {
    content: "”";
    position: absolute;
    font-weight: 900;
    font-size: 22px;
    top: 35px;
    line-height: 50px;
    color: var(--go-colorone, #6C0287);
  }

  .block-about {
    display: flex;
    flex-direction: column;
  }
  .title-about {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .block-about img {
    width: 330px;
    height: 280px;
    text-align: center;
    margin-right: 0;
    order: 2;
  }
  .block-about {
    margin-bottom: 0;
  }
  .text-about__first {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .text-about__last {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
  }
  .quote-text-go {
    position: relative;
    left: 20px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 22px;
  }

  .quote-go {
    margin: 0;
  }

  .quote-author-go {
    position: relative;
    left: 30px;
    max-width: 160px;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .person-go {
    position: relative;
    left: 20px;
    display: inline-block;
    width: 56px;
    height: 56px;
    margin: 0;
  }
}


@media  (max-width: 320px) {
  .about {
    padding: 15px 0;
  }

  .title-about {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .block-about img {
    width: 280px;
    height: 280px;
    text-align: center;
    margin-right: 0;
    order: 2;
  }
  .image-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 41px;
  }

  .text-about__first {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .text-about__last {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
  }
  .quote-text {
    position: relative;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 22px;
  }

  .quote-text:before {
    left: -15px;
    font-size: 40px;
  }

  .quote-text:after {
    font-size: 40px;

  }

  .quote-author-go {
    font-size: 12px;
    line-height: 16px;
  }

}







