.footer {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.block-social {
  display: flex;
  justify-content: space-evenly;
}

.contacts {
  flex-basis: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.list-social {
  display: flex;
  gap: 27px;
}

.social-map {
  display: flex;
  justify-content: end;
}

.contacts-link_tel:hover {
  color: var(--gocolor, rgba(205, 6, 255, 1));
  text-shadow: -2px -2px 3px #FFFFFF;
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: ease-out;
}

.contacts-link_mail:hover {
  color: var(--gocolor, rgba(205, 6, 255, 1));
  text-shadow: -2px -2px 3px #FFFFFF;
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: ease-out;
}
/*before*/
.contacts-text_add {
  background-image: url("../image/location.svg");
  background-repeat: no-repeat;
  background-position: 0 12px;
  padding-left: 65px;
  max-width: 300px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 39px;
}

.contacts-link_tel {
  background-image: url("../image/tel.svg");
  background-repeat: no-repeat;
  padding-left: 65px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 14px;
}

.contacts-link_mail{
  background-image: url("../image/message.svg");
  background-repeat: no-repeat;
  padding-left: 65px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 35px;
}



@media (max-width: 1024px) {
  .contacts-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
}







