.footer {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.block-social {
  display: flex;
  justify-content: space-between;
}

.contacts {
  flex-basis: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.list-social {
  display: flex;
  gap: 27px;
}

.social-map {
  display: flex;
  justify-content: end;
}

.contacts-link_tel:hover {
  color: var(--gocolor, rgba(205, 6, 255, 1));
  text-shadow: 0px 0px 3px #FFFFFF;
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: ease-out;
}

.contacts-link_mail:hover {
  color: var(--gocolor, rgba(205, 6, 255, 1));
  text-shadow: 0px 0px 3px #FFFFFF;
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: ease-out;
}
/*before*/
.contacts-text_add {
  background-image: url("../image/location.svg");
  background-repeat: no-repeat;
  background-position: 0 12px;
  padding-left: 65px;
  max-width: 300px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 39px;
}

.contacts-link_tel {
  background-image: url("../image/tel.svg");
  background-repeat: no-repeat;
  background-position: 5px 0;
  padding-left: 65px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 14px;
}

.contacts-link_mail{
  background-image: url("../image/message.svg");
  background-repeat: no-repeat;
  padding-left: 65px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 35px;
}

.list-social__item svg:hover {
  fill:  #EADEED;
}

.list-social__item a:focus {
  fill:  #EADEED;
  outline: 1px solid #CD06FF
}

.list-social__item svg:active {
  fill:  #CD06FF;
}


@media (max-width: 1024px) {
  .contacts-title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 40px;
  }
}


@media (max-width: 768px) {
  .block-social {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contacts {
    flex-basis: 0;
    position: relative;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .list-social {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    max-width: 600px;
    gap: 30px;
  }

  .list-social__item {
    width: 40px;
    height: 40px;
  }

  .contacts-text_add {
    background-repeat: no-repeat;
    background-position: 35px 0;
    padding-left: 10px;
    max-width: 250px;
    font-style: normal;
    margin-bottom: 39px;
  }

  .contacts-link_tel {
    background-position: 10px 0;
    padding-left: 40px;
    margin-bottom: 14px;
  }

  .contacts-link_mail {
    background-position: 5px 4px;
    background-size: 30px;
    padding-left: 40px;
    margin-bottom: 35px;
  }

  .social-map img {

    display: flex;
    justify-content: center;
  }
}

@media (max-width: 390px) {
  .contacts-social {
    padding: 15px 0;
  }

  .contacts-title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .contacts-text_add {
    background-position: 23px 0;
    background-size: 20px;
    padding-left: 10px;
    max-width: 150px;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
  }

  .contacts-link_tel {
    background-position: 15px 0;
    background-size: 20px;
    padding-left: 40px;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 18px;
  }

  .contacts-link_mail {
    background-position: 15px 3px;
    background-size: 20px;
    padding-left: 40px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  .list-social__item {
    width: 28px;
    height: 28px;
  }
  .social-map img {
    width: 280px;
    height: 194px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 320px) {
  .contacts-social {
    padding: 15px 0;
  }

  .contacts-title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .contacts-text_add {
    background-position: 23px 0;
    background-size: 20px;
    padding-left: 10px;
    max-width: 150px;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
  }

  .contacts-link_tel {
    background-position: 15px 0;
    background-size: 20px;
    padding-left: 40px;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 18px;
  }

  .contacts-link_mail {
    background-position: 15px 3px;
    background-size: 20px;
    padding-left: 40px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  .list-social__item {
    width: 28px;
    height: 28px;
  }
  .social-map img {
    width: 280px;
    height: 194px;
    display: flex;
    justify-content: center;
  }
}



