.content-design {
  display: flex;
  justify-content: space-between;
  text-align: right;
}
.designer {
  padding-bottom: 10px;
}
.mailto-designer {

}
.mailto-designer:hover {
  font-size: 2v0px;
  color: aqua;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;

}
