.content-design {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.designer {
  padding-bottom: 10px;
}

.mailto-designer:hover {
  font-size: 20px;
  color: aqua;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;

}

@media (max-width: 320px) {
  .designer {
    min-height: 150px;
    padding: 30px 0;
  }
  .content-design {
    display: flex;
    flex-direction:column;
    gap: 19px 0;
    justify-content: space-between;
    text-align: center;
  }

}
