.question-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.list-question li {
  position: relative;
}

.question-list-item {
  background-color: #fff;
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
}


.question-list-item:nth-child(2n) {
  background-color: #440F51;
  color: #fff;
  list-style: none;
}

.question-list-item:last-child {
  margin: 0;
}

.question-list-item:nth-child(1n+1):after {
  content: url("../icon/open-purple.svg");
  text-align: center;
  width: 45px;
  height: 45px;
}

.question-list-item:nth-child(2n+2):hover:after {
  content: url("../image/open-purple.svg");
  transition-duration: .5s;
}

.question-list-item:hover:after {
  content: url("../image/open-white.svg");
  transition-duration: .5s;
}

.question-list-item:nth-child(2n+2):after {
  content: url("../icon/open.svg");
  transition-duration: .5s;
  color: white;
  width: 45px;
  height: 45px;
}

.question-list-item:after {
  position: absolute;
  right: 60px;
  bottom: 20px;
}


@media (max-width: 1024px) {
  .question-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }

  .question-list-item:nth-child(2n) {
    background-color: #ffffff;
    color: #000000;
    list-style: none;
  }
  .question-list-item:nth-child(2n+2):after {
    content: url("../icon/open-purple.svg");
    color: white;
    width: 45px;
    height: 45px;
  }
  .question-list-item {
    font-size: 20px;
    line-height: 24px;
  }
}


@media (max-width: 768px) {
  .question-title {
    font-size: 26px;
    line-height: 24px;
  }
  .question-list-item {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 600px) {
  .question-list-item {
    font-size: 20px;
    line-height: 20px;
  }
  .question-list-item {
    padding: 30px 10px;
  }
  .question-list-item p {
    max-width: 160px;
  }
  .question-list-item:after {
    position: absolute;
    right: 10px;
    bottom: 30px;
  }
}


@media (max-width: 390px) {
  .question {
    padding: 15px 0;
  }

  .question-title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .question-list-item {
    background-color: #fff;
    color: #1C1A1A;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    max-width: 330px;
    height: 46px;
    line-height: 16px;
    padding: 7px 43px 7px 10px;
    margin-bottom: 10px;
  }
  .question-list-item:nth-child(1n+1):after {
    content: "";
    background-image: url("../icon/open-purple.svg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: 30px;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 30px;
    height: 30px;
  }

}


@media (max-width: 320px) {
  .question {
    padding: 15px 0;
  }

  .question-title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .question-list-item {
    background-color: #fff;
    color: #1C1A1A;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    width: 280px;
    height: 46px;
    line-height: 16px;
    padding: 7px 43px 7px 10px;
    margin-bottom: 10px;
  }
  .question-list-item:nth-child(1n+1):after {
    content: "";
    background-image: url("../icon/open-purple.svg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: 30px;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 30px;
    height: 30px;
  }

}


