.friends-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 41px;
  white-space: pre-line;
}
.friends-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 20px;

}

.friends-card {
  position: relative;
  transition: 0.5s;
}
.friends-card img {
  width: 380px;
  height: 228px;
}
.friends-card-one:hover {
  transform: scale(1.1);
}

.friends-card-three:hover {
  transform: scale(1.1);
}

.friends-card-four:hover {
  transform: scale(1.1);
}

.friends-card-six:hover {
  transform: scale(1.1);
}

.friends-card-two {
  transform: translateY(80px);
}

.friends-card-two:hover {
  transform: scale(1.1) translateY(80px);
}

.friends-card-five {
  transform: translateY(80px);
}

.friends-card-five:hover {
  transform: scale(1.1) translateY(80px);
}

.friends-card_title {
  max-width: 300px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  bottom: 34px;
  left: 40px;
  position: absolute;

}
/*.friends-card_title-vr {*/
/*  position: absolute;*/
/*  left: 140px;*/
/*}*/

@media (max-width: 1024px) {
  .friends {
    min-height: 670px;
  }
  .friends-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 36px;
  }

  .friends-card img {
    width: 282px;
    position: relative;
    transition: 0.5s;
  }

  .friends-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 22px;
  }

  .friends-card_title {
    max-width: 247px;
    bottom: 16px;
    left: 20px;
    z-index: 1;
  }
}


@media (max-width: 768px)  {
  .friends-title {
    font-size: 24px;
    line-height: 36px;
  }

  .friends-card img {
    width: 334px;
    position: relative;
    transition: 0.5s;
  }

  .friends-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 75px 75px;
    gap: 10px;

  }

  .friends-card-two {
    transform: translateY(0px);
  }

  .friends-card-five {
    transform: translateY(0px);
  }

  .friends-card_title {
    bottom: 40px;
    left: 30px;
    z-index: 1;
  }

}

@media (max-width: 320px) {
  .friends {
    min-height: 370px;
    padding: 15px 0;
  }
  .friends-title {
    font-size: 14px;
    line-height: 18px;
  }
  .friends-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 75px 75px;
    gap: 10px;

  }
  .friends-card img {
    width: 135px;
    position: relative;
    transition: 0.5s;
  }
  .friends-card_title {
    bottom: 20px;
    left: 10px;
    font-size: 10px;
    line-height: 14px;
    z-index: 1;
  }
}



