.go {
  min-height: 943px;
  position: relative;
}

.title-go {
  max-width: 100%;
  font-family: "Arial Black", sans-serif;
  font-weight: 900;
  position: relative;
  font-size: 150px;
  letter-spacing: -0.1em;
}

.title-go:after {
  content: "";
  background-image: url("../image/img_title.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 675px;
  height: 762px;
  position: absolute;
  top: 80px;
  right: 0;
}


.text-go-title {
  padding-left: 110px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
}

.block-go_four {
  max-width: 450px;
  gap: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
.text-go_big {
  font-family: "Arial Black", sans-serif;
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  color: var(--gocolor,  rgba(205, 6, 255, 1));
  align-self: center;
}

.text-go_new {
  font-family: "Arial Black", sans-serif;
  font-weight: 900;
  font-size: 80px;
  line-height: 106px;
  font-variant: small-caps;
  color: var(--gocolor, rgba(205, 6, 255, 1)) ;
}

.block-go_text {
  display: flex;
  justify-content: start;
  margin-bottom: 150px;
}

.text-go_text {
  max-width: 191px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  margin-right: 43px;
}

.text-go_text:last-child {
  margin: 0;
}

.link-go {
  display: inline-block;
}

.btn-go {
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  border: none;
  box-shadow: 0px 0px 10px 2px var(--go-colorone);
  text-transform: uppercase;
  background: var(--go-colorone, #6C0287);
  border-radius: 10px;
  color: #ffffff;
  padding: 25px 69px;
}

/*hover*/

.btn-go:hover {
  background: #840AA3;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px var(--go-colorone);
  transition-duration: .2s;
  transition-timing-function: ease-out;
}
/*hover*/

/*active*/

.btn-go:active {
  background:  var(--go-colorone);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px var(--go-colorone);
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}

/*active*/

/*focus*/

.btn-go:focus {
  background: #840AA3;
  border-radius: 10px;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

/*focus*/


.link-go-arrow {
  position: relative;
  display: inline-block;
  left: 150px;
  top: 50px;
  width: 97px;
  height: 97px;
}

.link-go-arrow:focus {
  border: .5px solid var(--gocolor, rgba(205, 6, 255, 1));
  outline: none;
  transition-property: all;
  transition-duration: .1s;
  transition-timing-function: ease-out;
}

.go-arrow {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}

.go-arrow:hover circle {
  background: url("../image/arrow-main-hover.svg");
  fill: white;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

.go-arrow:hover rect {
  fill: var(--go-colorone, #6C0287);
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

.go-arrow:active {
  background: url("../image/arrow-main-active.svg");
  transition-property: all;
  transition-duration: .1s;
  transition-timing-function: ease-out;

}

.go-arrow:active rect {
  fill: white;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}

.go-arrow:active circle {
  fill: var(--gocolor, rgba(205, 6, 255, 1));
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}



@media (max-width: 1024px) {
  .go {
    padding: 30px 0;
    min-height: 643px;
  }

  .title-go {
    font-family: "Arial Black", sans-serif;
    font-weight: 900;
    position: relative;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: -0.1em;
  }
  .title-go:after {
    content: "";
    background-image: url("../image/img_title.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 453px;
    height: 520px;
    position: absolute;
    top: 65px;
    right: 0px;
  }

  .text-go-title {
    padding-left: 90px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
  }

  .block-go_text {
    display: flex;
    justify-content: start;
    margin-bottom: 50px;
  }

  .text-go_text {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
  }

  .btn-go {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    border: none;
    box-shadow: 2px 2px 30px 2px var(--go-colorone);
    text-transform: uppercase;
    background: var(--go-colorone, #6C0287);
    border-radius: 10px;
    color: #ffffff;
    padding: 17px 48px;
    transform: translateX(50px);
  }

  .text-go_big {
    font-family: "Arial Black", sans-serif;
    font-weight: 900;
    font-size: 80px;
    line-height: 113px;
    color: var(--gocolor,  rgba(205, 6, 255, 1));
    align-self: center;
  }

  .text-go_new {
    font-family: "Arial Black", sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 85px;
    font-variant: small-caps;
    color: var(--gocolor, rgba(205, 6, 255, 1)) ;
  }
  .link-go-arrow {
    position: relative;
    display: inline-block;
    left: 120px;
    top: 60px;
    width: 67px;
    height: 67px;
  }
}

@media (max-width: 768px) {

  .go {
    padding: 30px 0;
    min-height: 563px;
  }

  .title-go {
    font-size: 86px;
  }

  .title-go:after {
    width: 409px;
    height: 479px;
    top: 40px;
    right: 0px;
  }

  .text-go-title {
    padding-left: 60px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .block-go_text {
    margin-bottom: 100px;
  }

  .text-go_text {
    max-width: 103px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }
  .text-go_big {
    font-weight: 900;
    font-size: 50px;
    line-height: 71px;
    color: var(--gocolor,  rgba(205, 6, 255, 1));
    align-self: center;
  }

  .text-go_new {
    font-weight: 900;
    font-size: 40px;
    line-height: 56px;
    color: var(--gocolor, rgba(205, 6, 255, 1)) ;
  }

  .link-go-arrow {
    display: none;
  }

  .block-go_four {
    max-width: 250px;
  }
  .btn-go {
    padding: 11px 35px;
    font-size: 16px;
    border-radius: 4px;
    line-height: 24px;
    transform: translateX(0px);
  }
}

@media (max-width: 390px) {

  .go {
    padding: 26px 0;
    min-height: 250px;
  }

  .title-go {
    font-size: 35px;
  }
  .title-go:after {
    width: 161px;
    height: 179px;
    top: 20px;
    right: 5px;
  }
  .text-go-title {
    font-size: 10px;
    line-height: 14px;
    padding-left: 25px;
    margin-bottom: 10px;
  }
  .block-go_four {
    max-width: 150px;
    display: flex;
    gap: 40px;
    justify-content: center;
  }
  .text-go_big {
    font-size: 26px;
    line-height: 37px;
    color: var(--gocolor,  rgba(205, 6, 255, 1));
    align-self: center;
  }

  .text-go_text {
    max-width: 65px;
    font-size: 10px;
    line-height: 11px;
    margin-right: 10px;
  }

  .block-go_text {
    margin-bottom: 30px;
  }

  .text-go_new {
    font-size: 22px;
    line-height: 31px;
    color: var(--gocolor, rgba(205, 6, 255, 1)) ;
  }

  .btn-go {
    padding: 8px 13px;
    font-size: 10px;
    line-height: 12px;
    border-radius: 4px;
    transform: translateX(0px);
  }
}


@media (max-width: 320px) {
  .go {
    padding: 26px 0;
    min-height: 250px;
  }

  .title-go {
    font-size: 35px;
  }
  .title-go:after {
    width: 161px;
    height: 179px;
    top: 20px;
    right: 5px;
  }
  .text-go-title {
    font-size: 10px;
    line-height: 14px;
    padding-left: 25px;
    margin-bottom: 10px;
  }
  .block-go_four {
    max-width: 150px;
    display: flex;
    gap: 40px;
    justify-content: center;
  }
  .text-go_big {
    font-size: 26px;
    line-height: 37px;
    color: var(--gocolor,  rgba(205, 6, 255, 1));
    align-self: center;
  }

  .text-go_text {
    max-width: 65px;
    font-size: 10px;
    line-height: 11px;
    margin-right: 10px;
  }

  .block-go_text {
    margin-bottom: 30px;
  }

  .text-go_new {
    font-size: 22px;
    line-height: 31px;
    color: var(--gocolor, rgba(205, 6, 255, 1)) ;
  }

  .btn-go {
    padding: 8px 13px;
    font-size: 10px;
    line-height: 12px;
    border-radius: 4px;
    transform: translateX(0px);
  }
}










