.list-hall{
  display: grid;
  grid-template-columns: 2fr 2fr ;
  grid-template-rows: 349px 349px;
  gap: 20px 20px;
}

.title-hall {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 60px;
}

.list-hall__hall-vibes {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../image/vibes.jpg");
  background-repeat: no-repeat;
}

.list-hall__title {
  max-width: 252px;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}

.list-hall__hall-wars {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../image/star_wars.jpg");
  background-repeat: no-repeat;
}

.list-hall__hall-west {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../image/wild_west.jpg");
  background-repeat: no-repeat;
}

.list-hall__hall-neon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../image/neon_style.jpg");
  background-repeat: no-repeat;
  background-position: -15px 0;
}


@media (max-width: 1024px) {

  .list-hall{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 15px;
  }

  .list-hall__hall-vibes,
  .list-hall__hall-wars,
  .list-hall__hall-west,
  .list-hall__hall-neon {
    width: 443px;
    height: 267px;
  }
  .title-hall {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }
  .list-hall__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 768px) {
  .title-hall {
    font-size: 24px;
    line-height: 36px;
  }

  .list-hall{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  .list-hall__hall-vibes,
  .list-hall__hall-wars,
  .list-hall__hall-west,
  .list-hall__hall-neon {
    width: 335px;
    height: 200px;
  }

  .list-hall__title {
    max-width: 121px;
    font-size: 40px;
    line-height: 50px;
  }

}

@media (max-width: 390px) {
  .hall {
    padding: 15px 0;
  }

  .title-hall {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .list-hall__hall-vibes,
  .list-hall__hall-wars,
  .list-hall__hall-west,
  .list-hall__hall-neon {
    width: 310px;
    height: 168px;
  }

  .list-hall__title {
    max-width: 121px;
    font-size: 26px;
    line-height: 34px;
  }
}

@media (max-width: 320px) {
  .hall {
    padding: 15px 0;
  }

  .title-hall {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .list-hall__hall-vibes,
  .list-hall__hall-wars,
  .list-hall__hall-west,
  .list-hall__hall-neon {
    width: 280px;
    height: 168px;
  }

  .list-hall__title {
    max-width: 121px;
    font-size: 26px;
    line-height: 34px;
  }
}


