.list-hall{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.title-hall {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 60px;
}

.list-hall__hall-vibes {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../image/vibes.jpg");
  background-repeat: no-repeat;
  width: 580px;
  height: 349px;
}

.list-hall__title{
  max-width: 252px;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}

.list-hall__hall-wars {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../image/star_wars.jpg");
  background-repeat: no-repeat;
  width: 580px;
  height: 349px;
}

.list-hall__hall-west {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../image/wild_west.jpg");
  background-repeat: no-repeat;
  width: 580px;
  height: 349px;
}

.list-hall__hall-neon{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../image/neon_style.jpg");
  background-repeat: no-repeat;
  width: 580px;
  height: 349px;
  background-position: -15px 0;
}

