.header-content_menu {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  padding-top: 30px;
}

.header-list {
  display: flex;
  justify-content: space-between;

}
.header-item {
  padding-right: 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  color: #FFFFFF;

}

.header-item:hover {
  color: #CD06FF;
  text-shadow: 2px 2px 3px #FFFFFF;
}
.header-item:last-child {
  padding: 0;
}
.header-button {
  display: flex;
  align-items: center;
}
.header-btn {
  display: flex;
  justify-content: end;
  border: 3px solid #CD06FF;
  border-radius: 10px;
  color: #ffffff;
  background: transparent;
  padding: 12px 32px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;

}
/*Hover*/
.header-btn:hover {
  background: #6C0287;
  border: 3px solid #6C0287;
  border-radius: 10px;
}

.header-btn:active {
  background: #640AA3;
  border: 1px solid #000000;
  border-radius: 10px;
}
/*active*/
/*focus*/
.header-btn:focus {
  background: #6C0287;
  border-radius: 10px;
}
/*focus*/

/*active*/

