.visitors-title {
  min-height: auto;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.visitor-list  {
  display: flex;
  gap: 50px;

  flex-wrap: wrap;
}
.visitor-item {
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

}
.visitor-item p {
  flex-basis: 680px;

}
.visitor-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.visitor-item figcaption {
  text-align: center;


}
.visitor-item img {
  margin-bottom: 11px;
  /*margin: 0 20px 11px 0;*/
}
