.visitors-title {
  min-height: auto;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.visitor-list {
  position: relative;
  left: 10%;
  display: flow-root;
}
.visitor-item {
  margin: 0 20px 50px 0;
}
.visitor-item:last-child {
  margin: 0;
}
.visitor-img {
  margin: 0 20px 11px 0;
  float: left;
}
.visitor-text {
  max-width: 1000px;
  padding-top: 50px;
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.visitor-title {
  padding: 0 0 0 60px;
  clear: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
