.visitors-title {
  min-height: auto;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.visitor-list  {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.visitor-item {
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.visitor-item figure{
  position: relative;
}

.visitor-item figure:before {
  content: "";
  position: absolute;
  width: 280px;
  height: 280px;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
  border-radius: 140px;
  z-index: 1;
  top: 0;
}

.visitor-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.visitor-item figcaption {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.visitor-item img {
  margin-bottom: 11px;
  /*margin: 0 20px 11px 0;*/
}

.visitor-img {
  display: inline-block;
  position: relative;
  line-height: 0;
}



@media (max-width: 1024px) {
  .visitors-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  .visitor-img {
    display: inline-block;
    width: 172px;
    height: 172px;
    position: relative;
    line-height: 0;
  }

  .visitor-item figure:before {
    content: "";
    position: absolute;
    width: 172px;
    height: 172px;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
    border-radius: 140px;
    z-index: 1;
    top: 0;
  }

  .visitor-text {
    transform: translateY(-20px);
    max-width: 515px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }

  .visitor-list  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }
  .visitor-item figcaption {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
}






